.main_section {
  margin-top: 67px;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

.form {
  padding: 13px 10px;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form__title {
  font-size: 13px;
  font-family: inherit;
  margin-bottom: 6px;
}

.form__input {
  min-height: 42px;
  border: 1.5px solid #ff5722;
  border-radius: 8px;
  margin-bottom: 10px;
}

.form__input::placeholder {
  color: #bbbbbb;
  padding-left: 10px;
}

.form__button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 8px;
  min-height: 36px;
}

.info {
  margin: 0 25px;
}

.title_box {
  margin: 34px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  margin-bottom: 20px;
}

.cta {
  display: inline-block;
  min-width: 100%;
  padding: 15px auto;
  background-color: #ff5722;
  color: #fff;
  border-radius: 8px;
  border: none;
  min-height: 48px;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  line-height: 48px;
  display: inline-block;
}

.cta_box {
  margin: 0 10px 16px 10px;
}

.select {
  border: none;
  width: 75px;
  height: 15px;
}

.icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.city_list {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.other {
  margin: 15px 25px;
}

@media (min-width: 650px) {
  .main_section {
    max-width: 40vw;
    margin: 0 auto;
    margin-top: 67px;
  }
}
