.transfers {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 25px;
}

.tb_padding {
    padding-top: 120px;
    padding-bottom: 50px;
}

.btn {
    background-color: #ff5722;
    border-radius: 5px;
    padding: 5px;
    color: white;
    margin-right: 30px;
    font-size: 1.2rem;
}