.logo {
    text-decoration: none;
    color: #fff;
    position: relative;
    padding-bottom: 5px;
}

.logoBus {
    font-size: 1.8rem;
    font-weight: 600;
}

.logoTrip {
    font-size: 3.3rem;
    /* line-height: 2rem; */
    /* margin-top: -9px; */
}

.sloganHeader {
    margin-left: 40px;
    font-size: 2.1rem;
    letter-spacing: 1px;
    width: max-content;
    /* padding-bottom: 12px; */
    display: flex;
    /* flex-wrap: wrap; */
}

.logoTrip,
.sloganHeader {
    font-style: italic;
    font-weight: bolder;
    /* display: flex; */
}

.sloganHeaderChilds {
    width: max-content;
}

.sloganHeaderChilds:first-child {
    padding-right: 7px;
}

@media (max-width: 860px) {
    .sloganHeader {
        font-size: 1.5rem;
        margin-left: 20px;
    }

    .logoTrip {
        font-size: 2.3rem;
    }
}

/* @media (max-width: 750px) {
    .sloganHeader {
        font-size: 2.2rem;
    }
} */

/* @media (max-width: 650px) {
    .sloganHeader {
        font-size: 1.05rem;
        margin-right: -10px;
    }
} */

/* @media (max-width: 450px) {
    .logoTrip {
        font-size: 2rem;
    }

    .logoBus {
        font-size: 1.4rem;
        font-weight: 400;
    }
} */

/* @media (max-width: 420px) {
    .sloganHeader {
        font-size: 0.95rem;
    }
} */
/* @media (max-width: 410px) {  
    .sloganHeader {
        display: none;
    }
} */

/* @media (max-width: 350px) { 
    .logoTrip {
        font-size: 1.6rem;
        padding-right: 10px;
    }
    
    .logoBus {
        font-size: 1.1rem;
        font-weight: 400;
    }
} */

@media (max-width: 480px) {
    .logoTrip {
        margin: 0;
        padding: 0;

        gap: 40px;

        font-weight: 700;
        font-size: 1.6rem;
    }

    .sloganHeader {
        margin: 0;
        padding: 0;
        margin-left: 20px;

        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }
}

@media (max-width: 370px) {
    .sloganHeader {
        /* display: none; */
        margin-left: 10px;
    }
}