.filters_sector {
  border: 1px solid #dadada;
  border-radius: 15px;
  background-color: #f6f8fa;
  padding: 25px;
  box-shadow: 0px 5px 25px -5px rgba(34, 60, 80, 0.2);
  margin: 15px auto 10px auto;
  width: 90%;
}

.buttons_block {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.block {
  display: flex;
}