* {
    box-sizing: border-box;
}

.underHeaderBtn {
    margin: 100px 0;
}

.buttons {
    text-align: center;
    margin: 20px auto;
    max-width: 100%;
    justify-content: center;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.buttonsDiv {
    text-align: center;
    justify-content: space-between;
    margin-bottom: 15px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.actionBtn {
    color: #ff5722;
    padding: 7px;
    border: #ff5722 solid 2px;
    border-radius: 15px;
    margin: 2px 2px;
    background-color: white;
    font-size: 1.3rem;
    text-decoration: none;
}

.actionBtn:hover {
    color: #ffffff;
    padding: 7px;
    border: #ff5722 solid 1px;
    border-radius: 15px;
    background-color: #ff5722;
    font-size: 1.3rem;
    cursor: pointer;
}

@media screen and (max-width: 1415px) {
    .buttons {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1415px) {
    .actBtnCont {
        text-align: center;
        margin: 20px auto;
        justify-content: center;
        font-size: 1.3rem;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 725px) {
    .buttons div {
        text-align: center;
        justify-content: center;
        margin-bottom: 15px;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
    }
}