* {
    box-sizing: border-box;
}

.sectionBtn {

    text-align: center;
    margin: 100px auto 20px auto;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.actionBtn {
    color: #ff5722;
    padding: 7px;
    border: #ff5722 solid 2px;
    border-radius: 15px;
    margin: 2px 2px;
    background-color: white;
}

.budgetBtn {
    padding: 7px;
    border: #ff5722 solid 2px;
    border-radius: 15px;
    background-color: #ff5722;
    margin: 2px 2px;
    color: white;
}

@media screen and (max-width: 350px) {
    .section-btn {
        flex-direction: column;
        width: fit-content;
    }
}