.filters_sector {
    margin: auto;
    width: 85%;
}

.filters {
    display: inline-block;
}

.filter_buttons {
    display: inline-block;
}

.filter {
    display: inline-block;
    min-width: 200px;
}