.container {
  width: 360px;

  margin: 60px auto 10px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  /* position: absolute;
  top: 56px;
  text-align: center; */
}
.submitBtn {
  margin-top: 32px;
}

.hidden {
  display: none;
}

.height95px {
  height: 70px;
}

.form_style {
  margin-top: 95px;
  margin-bottom: 25px;
  padding: 25px;
  box-shadow: 0px 5px 25px -5px rgba(34, 60, 80, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}
.btn {
  background-color: #ff5722;
  border-radius: 5px;
  padding: 5px;
  color: white;
  margin-right: 30px;
  font-size: 1.2rem;
}
