.autocomplete {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}
button {
    padding: 10px;
}
.modal {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border: 2px solid #000;
    padding: 16px;
}