* {
  font-family: Roboto, sans-serif;
  color: white;
}

.transferBuses {
  font-style: roboto;
  font-size: 56px;
  margin-bottom: 5px;
}

.transferBuses:hover {
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .transferBuses {
    font-size: 36px;
  }
  .currencies {
    font-size: 26px;
  }
}
@media screen and (max-width: 501px) {
  .transferBuses {
    font-size: 26px;
  }
  .currencies {
    font-size: 20px;
  }
}
@media screen and (max-width: 361px) {
  .transferBuses {
    font-size: 20px;
  }
  .currencies {
    font-size: 17px;
  }
}
