.option_block {
    margin-left: auto;
}

.navbar {
    padding: 3px 0;
}

.logo {
    display: flex;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    display: grid;
}

@media (max-width: 450px) {
    .navbar {
        padding: 0;
    }
    .logo {
        font-size: 1.4rem;
        font-weight: 400;
    }
}

@media (max-width: 350px) {
    .navbar {
        padding: 0;
    }
    .logo {
        font-size: 1.1rem;
        font-weight: 400;
    }
}
