@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    /*line-height: 1.6rem;*/
}

.ruler {
    border: 1px solid orangered;
    margin: 1rem 0;
    color: inherit;
    opacity: .25;
}

.cityHeader {
    margin: 0;
    text-align: center;
    font-size: calc(1.3rem + .6vw);
    font-weight: 500;
    line-height: 1.2;
    color: #4f4f4f;
}

.cityList {
    width: 100%;
    margin: 0;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
    gap: 10px;
    list-style: none;
    font-size: 1.23em;
    text-align: center;
    align-items: center;
}

.list a{
    color: #ff5722;
    /*font-size: 1.23em;*/
    line-height: 1.6;
}

.list:hover a{
    cursor: pointer;
}
