/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

.Cheaptrip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners {
  color: rgb(255 87 34);
}

.title {
  text-align: center;
  font-size: 18px;
  background-color: rgb(255 87 34);
  color: white;
  font-style: roboto;
  padding: 1rem;
}

.caption {
  width: 100%;
  padding: 0.25rem;
}

.caption img {
  width: 100%;
  display: block;
}

.subtitle {
  text-align: center;
  color: rgb(255 87 34);
}
