.appbar {
    box-shadow: none;
    margin-bottom: 20px;
    padding: 1px;
}

.navbar {
    padding: 2px 0 1px;
}

.menuButton {
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 1.5rem;
    margin-left: 20px;
}

@media (max-width: 450px) {
    .navbar {
        padding: 0;
    }
}
.nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.logo {
    text-decoration: none;
    color: #fff;
    position: relative;
}

.logoBus {
    font-size: 1.8rem;
    font-weight: 600;
}

.logoTrip {
    font-size: 3.3rem;
    margin-top: -9px;
    padding-bottom: 2px;
}

.sloganHeader {
    margin-left: 40px;
    font-size: 2.1rem;
    letter-spacing: 1px;
    width: max-content;
    padding-bottom: 12px;
    display: flex;
    /* flex-wrap: wrap; */
}

.logoTrip,
.sloganHeader {
    font-style: italic;
    font-weight: bolder;
    display: flex;
}

.sloganHeaderChilds {
    width: max-content;
}

.sloganHeaderChilds:first-child {
    padding-right: 7px;
}

.blockForTips{
    padding-top: 1px;
    padding-bottom: 1px;
    display: block;
    background-color: white;
    /*border: 1px solid #ff5722;*/
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color: #ff5722;
    font-size: 2rem;
    box-shadow: none;
    justify-content: center;
    align-content: center;


}
.tips {
    border-radius: 12px;
    margin-right: 30px ;
    background-color: white;
    /*border: 1px solid #ff5722;*/
    text-align: center;
    padding: 5px;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color: #ff5722;
    font-size: 2rem;
    box-shadow: none;
    border: 3px solid #ff5722;
}

.tips:hover {
    background-color: #ff5722;
    color: #ffffff;
    border: 3px solid #ff5722;
}


.tipsUnderHeader{
    margin-top: 1px;
    margin-bottom: 3px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.tipsButton {
    border-radius: 12px;
    margin-right: 30px ;
    background-color: white;
    /*border: 1px solid #ff5722;*/
    text-align: center;
    padding: 5px;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color: #ff5722;
    font-size: 2rem;
    box-shadow: none;
    border: 3px solid #ff5722;
}

.tipsButton:hover {
    background-color: #ff5722;
    color: #ffffff;
    border: 3px solid #ff5722;
}

@media (max-width: 860px) {
    .sloganHeader {
        font-size: 1.5rem;
        margin-left: 20px;
    }

    .logoTrip {
        font-size: 2.3rem;
    }
}

@media (max-width: 750px) {
    .sloganHeader {
        font-size: 2.2rem;
    }
}

@media (max-width: 650px) {
    .sloganHeader {
        font-size: 1.05rem;
        margin-right: -10px;
    }
}

@media (max-width: 450px) {
    .logoTrip {
        font-size: 2rem;
    }

    .logoBus {
        font-size: 1.4rem;
        font-weight: 400;
    }
}

@media (max-width: 420px) {
    .sloganHeader {
        font-size: 0.95rem;
    }
}
@media (max-width: 410px) {
    .sloganHeader {
        display: none;
    }
}

@media (max-width: 350px) {
    .logoTrip {
        font-size: 1.6rem;
        padding-right: 10px;
    }

    .logoBus {
        font-size: 1.1rem;
        font-weight: 400;
    }
}

