.container {
  width: 300px;
  margin: 50px auto 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  /* position: absolute;
  top: 56px;
  text-align: center; */
}
.submitBtn {
  margin-top: 32px;
}

.hidden {
  display: none;
}
