.container{
    width:300px;
    /*height:400px;*/
    margin:150px auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}
.submitBtn{
    margin-top: 32px;
}

.hidden {
    display: none;
}