.social-wrapper{
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 480px) {
    .social-wrapper{
        justify-content: flex-start;
        gap: 10px;

        margin: 15px 20px;
    }
}
.whatsapp{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    width: 40px;
    height: auto;
}
@media (max-width: 480px) {
    .whatsapp{
       width: 24px;
       height: 24px;

       margin-top: 5px;
    }
}
.phone{
    margin-top: 14px;
    width: 30px;
    height: 30px;
    color: rgb(255, 255, 255);
}
@media (max-width: 480px) {
    .phone{
       width: 18px;
       height: 18px;

       margin-top: 8px;
    }
}
.telegram{
    margin-top: 10px;
    margin-right: 3px;
    width: 40px;
    height: auto;
    color: rgb(255, 255, 255);
}

@media (max-width: 480px) {
    .telegram{
       width: 24px;
       height: 24px;

       margin-top: 5px;
    }
}
/* .viber{
    width: 40px;
    height: auto;
    color: rgb(71, 23, 147);
} */
.viber-mb{ 
    width: 40px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    /* margin-left: -10vw;  */
    display: none;
}
@media (max-width: 480px) {
    .viber-mb{
       width: 24px;
       height: 24px;

       margin-top: 6px;
       margin-left: 5px;
    }
}
/* .facebook{
    width: 40px;
    height: auto;
    color: rgb(25, 16, 194)
} */
.social-button {
    background-color: rgb(37 211 102);
    width: 60px;
    height: 60px;
    align-items: center;
    border-radius: 28%;
    text-align: center;
    position: relative;
  }

  @media (max-width: 480px) {
    .social-button{
       width: 34px;
       height: 34px;

       border-radius: 50%;
    }
}

 .social-button.teleg-but{
    background-color: rgb(0, 136, 204) !important
 }
.social-button.viber-but{
    background-color: rgb(143, 93, 183) !important
}

@media (max-width: 1024px) {
    /* .viber{
        display: none;
    } */
    .viber-mb{
        display: block;
    }
}
@media (min-width: 1024px) {
    .social-button.viber-but{
        display: none;
    }
    .social-button .viber-but{
       margin-left: 15vw !important 
    }
}
