.autocomplete {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}
button {
    padding: 10px;
}